body{
    margin-left: 20px;
    margin-right: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-left: 90px;
    margin-right: 90px;
}
  
li a:hover:not(.active) {
    background-color: mediumslateblue;
}
  
.active {
    background-color: #04AA6D;
}
.encabezado{
    text-align: center;
}