*{
    box-sizing: border-box;
  }
  
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid mediumslateblue;
    border-radius: 4px;
    resize: vertical;
  }
  
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
input[type=submit] {
    background-color: mediumslateblue;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
input[type=submit]:hover {
    background-color: lightgray;
  }
  
.contenedor {
    border-radius: 5px;
    border: 1px solid mediumslateblue;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
.col-i {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
.col-d {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
.fila::after {
    content: "";
    display: table;
    clear: both;
  }
  
@media screen and (max-width: 600px) {
    .col-i, .col-d, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
.titulo{
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-left: 80px;
  margin-right: 100px;
}

li a:hover:not(.active) {
  background-color: mediumslateblue;
}

.active {
  background-color: #04AA6D;
}